
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);

body {
    font-family: 'Droid Serif';
}

h1,
h2,
h3 {
    font-family: 'Yanone Kaffeesatz';
    font-weight: normal;
}

h1 {
    display: none;
}

article {
    width: 100%;
    height: 100%;
    display: none;
}

#row-1 {
    display: block;
}

.column {
    margin-bottom: 2em;
}

.column:hover {
    margin-bottom: 2em;
    background-color: whitesmoke;
    cursor: pointer;
}

dt {
    font-weight: bold;
}

.uk-checkbox {
    margin-right: 0.5em;
}


